section.clearfix.section-documets
	.section-wrapper
		h2.text-center
			|Описание jQuery forestedGlass Plugin
		div
			h4
				|Пример HTML кода
			pre.code(lang="html")
				include include_code/demo_01.html
			h4
				|Пример CSS кода
			pre.code(lang="css")
				include include_code/demo_02.html
		h2.text-center
			|Опции
		table.table.table-bordered
			thead
				tr
					th
						|Опция
					th
						|Значение
			tbody
				tr
					td
						|target
						br
						small
							|Селектор родительского элемента, на котором установлен background
							='  '
							span.red
								|(ОБЯЗАТЕЛЬНОЕ ЗНАЧЕНИЕ)
					td
						|Default: body
						
				tr
					td
						|blur
						br
						small
							|Размытие
					td
						|Default: 5.0
		h4
			|Инлайн вызов с установкой data-* атрибутов
		pre.code(lang="html")
			include include_code/demo_03.html
		h4
			|JavaSript вызов
		pre.code(lang="javascript")
			include include_code/demo_04.html