section.clearfix.glass.glass-one
	.section-wrapper.clearfix
		h2.text-center
			|Заголовок секции
		.section-wrapper-row
			.col.col-6
				.col-wrapper(data-plugin="forestedglass" data-target=".glass-one" data-blur="5")
					p.text-center
						strong Column blur 5.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
			.col.col-6
				.col-wrapper(data-plugin="forestedglass" data-target=".glass-one" data-blur="10")
					p.text-center
						strong Column blur 10.
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio libero, fringilla et pharetra eget, auctor vitae urna. Etiam et nisl dictum, maximus ex at, semper risus. Mauris semper rhoncus lorem, at dapibus dui luctus vel. Aenean sagittis laoreet nisi, non molestie dui. Ut molestie ac tellus nec vulputate. In commodo tincidunt sapien. Donec lacinia purus ex. Fusce a fringilla risus, ut luctus orci. Phasellus orci enim, aliquet sit amet mollis non, luctus eget metus. Phasellus vitae lacus nunc.
		
		
		